<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techie Brekky</title>
</head>
<body>
    <section class="navbar">
        <nav class="navbar__nav">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="/" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/dboard" class="navbar__link">Dashboard</a>
                </li>
                <li class="navbar__item">
                    <a href="/login" class="navbar__link">Log In</a>
                </li>
                <li class="navbar__item">
                    <a href="/signup" class="navbar__link">Sign Up</a>
                </li>
                {{#if loggedIn}}
                <li class="navbar__item">
                    <a href="/logout" class="navbar__link">Log Out</a>
                </li>
                {{/if}}
            </ul>
            </nav>
    </section>
    <header>
        <h2>Techie Brekky</h2>
    </header>
    {{{body}}}
<footer>
    <button class="footer justify-left"><a href="">New Post</a></button>
</footer>
</body>
</html>